<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Clientes</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    <h2 class="text-center">Registrar Cliente</h2>
    <form action="/registrar_cliente" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="mb-3">
            <input type="text" name="apellido" class="form-control" placeholder="Apellido" required>
        </div>
        <div class="mb-3">
            <input type="email" name="correo" class="form-control" placeholder="Correo" required>
        </div>
        <div class="mb-3">
            <input type="text" name="telefono" class="form-control" placeholder="Teléfono" required>
        </div>
        <button class="btn btn-success">Guardar Cliente</button>
    </form>
</div>

</body>
</html>