{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="d-flex justify-content-between align-items-center m-5">
        <h3>Pedidos</h3>
        <!-- Botón Agregar -->
        <button class="btn btn-success"><a href="/pedidos/crear" class="text-decoration-none text-white">Agregar Pedido</a></button>
    </div>

    <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Fecha Pedido</th>
                    <th>Fecha Entrega</th>
                    <th>Subtotal</th>
                    <th>Abono</th>
                    <th>Usuario</th>
                    <th>Cliente</th>
                    <th>Estado Pedido</th>
                    <th>Estado Pago</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>{{ pedido.fecha_pedido|date:"d/m/Y H:i" }}</td>
                    <td>{{ pedido.fecha_entrega|date:"d/m/Y H:i" }}</td>
                    <td>${{ pedido.subtotal }}</td>
                    <td>${{ pedido.abono|default:"0" }}</td>
                    <td>{{ pedido.usuario.nombre }}</td>
                    <td>{{ pedido.cliente.nombre }}</td>
                    <td>{{ pedido.estado_pedido.nombre }}</td>
                    <td>{{ pedido.estado_pago.nombre }}</td>
                    <td>
                        <button class="btn btn-sm btn-info"><a href="/pedidos/buscar/{{ pedido.id }}" class="text-decoration-none text-white">Detalle</a></button>
                        <button class="btn btn-sm btn-warning"><a href="/pedidos/editar/{{ pedido.id }}" class="text-decoration-none text-white">Editar</a></button>
                        <button class="btn btn-sm btn-danger"><a href="/pedidos/eliminar/{{ pedido.id }}" class="text-decoration-none text-white">Eliminar</a></button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}