{% load static %}
 <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
      <!-- Logo y nombre -->
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="{% static 'images/logo.png' %}" alt="Logo TexPro" width="100" class="me-2">
        <strong>TexPro Gestión</strong>
      </a>

      <!-- Botón responsive -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/pedidos">Pedidos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Productos</a>
          </li>
          <li>
            {% if request.session.estado_sesion %}
                <form action="{% url 'cerrar_sesion' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Cerrar sesión</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}" class="btn btn-primary">Iniciar sesión</a>
            {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>