
{% extends "base.html" %}


{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-10 text-center">

            <h4 class="mb-4">Recuento de pedidos:</h4>

            <div class="d-flex justify-content-center flex-wrap gap-4">
                <span class="badge text-bg-primary fs-6 px-3 py-2">
                    Recepcionados
                    <span class="badge bg-light text-primary ms-2">12</span>
                </span>

                <span class="badge text-bg-warning fs-6 text-dark px-3 py-2">
                    En proceso
                    <span class="badge bg-light text-warning ms-2">7</span>
                </span>

                <span class="badge text-bg-info fs-6 text-dark px-3 py-2">
                    Listo para retiro
                    <span class="badge bg-light text-info ms-2">4</span>
                </span>

                <span class="badge text-bg-success fs-6 px-3 py-2">
                    Entregados
                    <span class="badge bg-light text-success ms-2">20</span>
                </span>
            </div>

        </div>
    </div>
</div>

{% endblock %}