
{% extends "base.html" %}


{% block content %}
        <div class="container mt-3 pt-3 pb-3" style="background-color:lightgray">

            <h1 class="text-center">Iniciar Sesión</h1>
            <center>
                <form action="/usuarios/login"   method="POST" class="col-9" >
                    {% csrf_token %}

                    <div class="mb-3">
                        <input type="text"  name="txtcorreo" class="form-control form-control-lg text-center" placeholder="Correo" required/>
                    </div>
                    <div class="mb-3">
                        <input type="password"  name="txtcon" class="form-control form-control-lg text-center" placeholder="Contraseña" required/>
                    </div>
                    <button class="btn btn-dark btn-lg">Acceder al Sistema</button>
                </form>
                <a href="/usuarios/registro">¿No tienes una cuenta? Regístrate aquí.</a>
            </center>

        </div>
{% endblock %}